

<div class="show-user">

 <!-- <h1> <%= @cohort.name if @cohort %> </h1> -->
<h1> Boot Badge </h1>
<!-- Words To Be Remembered By -->
<h2> <%= @user.fullname %>'s Badges </h2>


<div class="slogan-list">

	<% @slogans.each_with_index do |slogan, index| %>

	<div class="row">

		<div class="slogan"> 
		<%= "#{index+1}) #{slogan.content}" %>  
		</div>

		<div class="vote">
		<form action="/slogans/<%= slogan.id %>/vote/" method="post">
			<input type="hidden" name="vote[slogan_id]" value= <%= slogan.id %> >
			<input type="hidden" name="vote[vote]" value=1>
			<button type="submit" name="submit"> 
			    <img src="/images/upvote.gif" alt="upvote" />
			</button> </form>
		</div>


		<div class="vote" style="float:left;">
		<form action="/slogans/<%= slogan.id %>/vote/" method="post">
			<input type="hidden" name="vote[slogan_id]" value= <%= slogan.id %> >
			<input type="hidden" name="vote[vote]" value=-1>
			<button type="submit">
			    <img src="/images/downvote.gif" alt="downvote" />
			</button>
		</form>
		</div>

		<div class="points">
			(<%= slogan.points %> points)   
		</div>

	</div>
	<% end %>

</div>


<div class="add-slogan">

	<div class="add-badge">
		Add a Badge: 
	</div>

	<div class="badge-form"> 
		<form action="/users/<%= @user.id %>/slogans/" method="post">
			<input type="hidden" name="slogan[user_id]" value="<%= @user.id %>" />
			<input type="text" name="slogan[content]" />
			<button type="submit">
			    <img class="add-slogan-button" src="/images/add_button.png" alt="add slogan" />
			</button>
		</form>
	</div>

</div>

<div class="nav"> 
	<div class="nav-link"> 
		<a href="/cohorts/<%= @cohort.id %>/users/<%= @user.previous_id %>">< PREVIOUS</a> 
	</div>
	<div class="pipe-separator">
		|
	</div>
	<div class="nav-link"> 
		<a href="/cohorts/<%= @cohort.id %>"> ALL </a>
	</div>
	<div class="pipe-separator">
		|
	</div>
	<div class="nav-link"> 
		<a href="/cohorts/<%= @cohort.id %>/users/<%= @user.next_id %>">NEXT > </a> 
	</div>
</div>
<!-- <div class="arrow-right"></div> -->
