

<h1> <%= @cohort.name if @cohort %> </h1>
<h2> <%= @user.fullname %> </h2>

<ul>
<% @slogans.each do |slogan| %>
	<li> <%= slogan.content %>  
		<form action="/slogans/<%= slogan.id %>/vote/" method="post">
			<input type="hidden" name="vote[slogan_id]" value= <%= slogan.id %> >
			<input type="hidden" name="vote[vote]" value=1>
			<input type="submit" name="up" value="up" > 
		</form>
		<form action="/slogans/<%= slogan.id %>/vote/" method="post">
			<input type="hidden" name="vote[slogan_id]" value= <%= slogan.id %> >
			<input type="hidden" name="vote[vote]" value=-1>
			<input type="submit" name="down" value="down" > 
		</form>
		(<%= slogan.points %> points)   <!-- BUGBUG -->
<% end %>
</ul>

<a href="/users/<%= @user.id %>/slogans/new"> Add a new slogan </a>


